.movie-details {
  width: 70%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 150px;
}

.movie-details-title {
  color: whitesmoke;
  margin-top: 5%;
  margin-left: 15%;
  width: 50%;
  height: 400px;
}

.movie-overview {
  width: 80%;
  color: whitesmoke;
  padding: 0 40px;
}

#backdrop {
  position: absolute;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  z-index: 1;
  opacity: 0.6;
}

#runtime {
  margin-left: 40px;
}

#movie-title-h1 {
  margin-left: 40px;
  padding-top: 40px;
  font-size: 30px;
}

#details-poster {
  object-fit: cover;
  width: 200px;
}

.movie-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
