.content {
  margin: 0 2rem;
  text-align: center;
}

html {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(36, 36, 36) 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.content h1 {
  color: #fff;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 450px;
  margin: 60px 50px;
  background: rgba(17, 16, 16, 0.774);
}

.movie-title {
  font-size: 0.9rem;
  text-align: center;
  color: whitesmoke;
}

.movie-poster {
  transition: 0.3s ease;
  cursor: pointer;
}

.movie-poster:hover {
  transform: scale(1.1);
  box-shadow: 6px 6px 12px -1px rgba(0, 0, 0, 0.1);
}

#search-input {
  padding: 10px;
  width: 25%;
  outline: none;
  border: none;
  margin-right: 20px;
}

.search-button {
  padding: 9px;
}

#pages {
  color: whitesmoke;
}

.page-btn {
  padding: 10px;
  margin: 0 10px;
  width: 120px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgb(250, 170, 7, 0.8);
  color: whitesmoke;
  transition: 0.2s ease;
}

.no-image {
  display: flex;
  align-items: center;
  color: whitesmoke;
  height: 100%;
  font-size: 1.2rem;
}

.movie-buttons {
  display: flex;
  margin: 2px 2px;
}

.movie-btn {
  padding: 10px;
  margin: 10px;
  width: 120px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgb(250, 170, 7, 0.8);
  color: whitesmoke;
  transition: 0.2s ease;
}
